@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/blanka");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ebe7dc;
}

body {
  background-color: black;
}

@font-face {
  font-family: "SFPro";
  font-weight: normal;
  src: url("../fonts/SFPro/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "SFPro";
  font-weight: 300;
  src: url("../fonts/SFPro/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: "SFPro";
  font-weight: 100;
  src: url("../fonts/SFPro/SF-Pro-Display-Light.otf");
}
@font-face {
  font-family: "SFPro Rounded";
  font-weight: 500;
  src: url("../fonts/SFPro/SF-Pro-Rounded-Semibold.otf");
}
@font-face {
  font-family: "SFPro Rounded";
  font-weight: 300;
  src: url("../fonts/SFPro/SF-Pro-Rounded-Medium.otf");
}
body {
  font-family: "SFPro", sans-serif;
}

button {
  width: 150px;
  border-radius: 10px;
  transition: 1s;
  background-color: #333;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #ffffff;
}
button:hover {
  background-color: #ffffff;
}
button:hover a {
  color: #000;
}

.btn {
  width: 40px;
  background-color: rgba(255, 255, 255, 0.3960784314);
}

.navbar-toggler {
  width: 60px;
  transition: 1s;
  border: 1px solid rgba(255, 255, 255, 0.368627451);
}
.navbar-toggler:hover {
  background-color: #333;
  border: 1px solid #ffffff;
}

.filtro-btn {
  background-color: transparent;
  color: black;
  width: auto;
  text-align: left;
  transition: 0.2s;
}
.filtro-btn:hover {
  color: #2797fe;
}

.btn-grad {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#checkout_btn {
  background-color: #2797fe;
  align-self: flex-end;
  margin: 10px;
}
#checkout_btn a {
  color: #fff;
}
#checkout_btn:hover {
  color: #fff;
}

#vaciar_carrito {
  color: black;
  border: 1px solid gray;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  margin: 15px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #2797fe, 24px 0 #FFF;
  }
  66% {
    background: #2797fe;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #2797fe;
  }
}
nav {
  width: 100%;
  color: #ffffff;
  background-color: black;
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.09);
}
nav h2 {
  font-size: 20px;
  font-weight: 100;
  font-family: "Blanka", sans-serif;
}

.menu_container {
  font-size: 14px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_categories {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_categories li {
  display: block;
  padding: 20px;
  transition: 0.5s;
}
.nav_categories li:hover {
  color: gray;
  cursor: pointer;
}

.menu_vertical {
  transition: 1s;
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.213);
  margin-left: 0;
  padding-left: 0;
}
.menu_vertical li {
  width: 100%;
  margin-left: 0;
}
.menu_vertical li:hover {
  background-color: rgb(10, 10, 10);
}

.menu_horizontal li:hover .menu_vertical {
  display: block;
  transition: 1s;
}

.search_container {
  display: flex;
  align-items: center;
}
.search_container button {
  background-color: transparent;
  width: auto;
}
.search_container button i {
  color: white;
  font-size: 16px;
  padding: 20px;
}

#search-input {
  display: none;
  opacity: 0;
  transform: translatex(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
  background-color: transparent;
  box-shadow: none;
  width: 200px;
  height: 40px;
  border: none;
  border-bottom: 1px solid white;
  color: #ffffff;
}
#search-input::placeholder {
  color: #ffffff;
  font-size: 16px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fa-cart-shopping {
  transition: 0.5s;
}
.fa-cart-shopping:hover {
  cursor: pointer;
  font-size: 16px;
  text-shadow: 1px 1px 5px blue;
}

.cart_products {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 100;
  right: 0px;
  top: 11%;
  width: 500px;
  height: 100vh;
  min-height: 10px;
  background-color: #fff;
  color: rgb(30, 29, 29);
  padding: 20px;
  border: 0.5px solid grey;
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  font-family: "SFPro Rounded";
}
.cart_products h5 {
  font-size: 24px;
  width: 100%;
  text-align: left;
  border-bottom: 0.5px solid grey;
  padding: 15px;
}
.cart_products h6 {
  font-size: 20px;
  padding: 20px;
  margin-right: 20px;
  width: 100%;
  text-align: end;
}

.cart__product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  font-size: 14px;
  font-weight: normal;
  padding: 15px;
  border-bottom: 0.5px solid gray;
}
.cart__product p {
  margin-bottom: 0;
}
.cart__product img {
  width: 50px;
  margin-right: 30px;
}
.cart__product div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart__product div div {
  flex-direction: column;
}
.cart__product div .price__quantity {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: start;
  margin-right: 10px;
}
.cart__product div .price__quantity span {
  text-align: right;
  width: 100%;
}
.cart__product div .price__quantity .prod_cant {
  color: grey;
  text-align: right;
}
.cart__product .units {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}
.cart__product .units button {
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: black;
  margin: 0px 10px;
  padding: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.color {
  width: 80%;
  font-size: 12px;
  color: gray;
}

.remove_item {
  cursor: pointer;
  align-self: center;
  justify-content: center;
}

.cart_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#banner {
  width: 100%;
  height: 500px;
  background-image: url("../assets/iphone15pro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}
#banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  height: 50%;
}
#banner div h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 48px;
}
#banner div h1 span {
  font-family: "Blanka", sans-serif;
}
#banner div h3 {
  color: #ffffff;
  font-weight: 100;
}
#banner div button {
  background-color: transparent;
}
#banner div button a {
  color: #2797fe;
}

.product_categories {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 450;
  width: 100%;
  background-color: #f5f5f7;
  padding: 50px;
}

.category_card {
  border-radius: 10px;
  border: 1px solid var(--Style-Style-7, #E9F0F7);
  background: var(--Style-Style-6, linear-gradient(313deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #f5f5f7);
  box-shadow: -5px -5px 18px 0px #FFF, 4px 4px 16px 0px rgba(138, 155, 189, 0.48);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: auto;
}
.category_card img {
  width: 200px;
  height: 144px;
  object-fit: contain;
  padding: 20px;
  filter: drop-shadow(1px 2px 20px grey);
}
.category_card .category_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.category_card .category_details h2 {
  font-size: 1em;
  margin-bottom: 2px;
  text-align: center;
}
.category_card .category_details button {
  width: 70%;
  height: 40px;
  font-size: 15px;
  background-color: transparent;
}
.category_card .category_details button a {
  color: #2797fe;
}

.card_producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}
.card_producto h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.card_producto span {
  font-size: 16px;
  font-weight: 300;
}
.card_producto button {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 0.5px solid grey;
  color: black;
}
.card_producto button:hover {
  background-color: rgba(0, 0, 0, 0.215);
}

.info_producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.info_producto span {
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  margin-top: 10px;
  color: #2797fe;
}

.no-results {
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin-left: 50px;
  font-family: "SFPro";
  font-weight: 100;
}

.products_container {
  background-color: white;
  padding: 100px;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100px auto;
  grid-template-areas: "filters category" "filters products";
}

.filters {
  grid-area: filters;
  background-color: F5F5F7;
  border-right: 0.5px solid black;
}
.filters .modelos {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: category;
  margin-left: 50px;
  max-height: 100px;
}
.category div {
  flex-direction: column;
}
.category h1 {
  font-size: 30px;
}

.products {
  align-items: flex-start;
  width: 100%;
  height: 100%;
  grid-area: products;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.modelos li {
  display: flex;
  list-style: none;
  color: #2797fe;
  margin-bottom: 5px;
}

#checkout {
  background-color: white;
}
#checkout main {
  width: 100%;
}
#checkout main h1 {
  font-family: "SFPro rounded";
  font-weight: 300;
  font-size: 2rem;
  color: rgb(49, 49, 49);
  text-align: center;
  margin: 80px 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}

#finalizar_compra {
  display: flex;
}

#checkout_table {
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 0px 100px 0px 100px;
  border-collapse: collapse;
  margin: 0px 40px;
}
#checkout_table tbody tr {
  text-align: center;
  border-bottom: 0.5px solid grey;
}

.checkout_product {
  display: flex;
  align-items: center;
  padding: 20px;
}
.checkout_product img {
  width: 100px;
}
.checkout_product div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.checkout_product div span {
  color: gray;
}

.checkout_quantity button {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  padding: 0;
}

.checkout_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
  background-color: rgba(209, 209, 209, 0.284);
  margin: 40px;
  margin-top: 0;
}
.checkout_data div {
  width: 100%;
  display: flex;
  font-family: "SFPro Rounded";
  font-weight: 300;
  font-size: 24px;
  color: rgb(61, 61, 61);
}

.checkout_total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.checkout_total div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#discount_code {
  padding: 20px;
  flex-direction: row;
  width: 100%;
}
#discount_code input[type=text] {
  width: 80%;
  text-align: left;
  border-radius: 0px;
  height: 50px;
}
#discount_code input[type=text]::placeholder {
  color: #ccc;
  padding: 20px;
}
#discount_code input[type=text]:valid {
  padding: 20px;
}
#discount_code label {
  font-size: 30px;
  padding: 10px;
}
#discount_code button {
  width: 20%;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.discount_message {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: green;
}

.discount_true {
  text-decoration: line-through;
}

.discount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.total_price {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.finalizar_compra {
  width: 150px;
  height: 50px;
  background-color: #2797fe;
  align-self: center;
  justify-content: end;
  margin: 20px;
}

.iphone_hero {
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.iphone_hero div {
  height: 50%;
}
.iphone_hero .img {
  width: 100%;
  background-image: url("../../assets/iphone15hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.iphone_hero p {
  font-family: "SFPro Rounded", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: static;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
