@import "utilities/variables";

@import "base/reset";
@import "base/typography";

@import "components/buttons";
@import "components/loader";

@import "layout/header";
@import "layout/cart";
@import "layout/banner";
@import "layout/categories";
@import "layout/cards_producto";
@import "layout/products";
@import "layout/checkout";


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: static;
    bottom: 0;
    width: 100%;
}
