#banner{
    width: 100%;
    height: 500px;
    background-image: url("../assets/iphone15pro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: nowrap;
        height: 50%;
        h1{
            color:$color-texto;
            font-weight:normal;
            font-size: 48px;
            span{
            font-family: 'Blanka', sans-serif;   
            }
        }
        h3{
            color:$color-texto;
            font-weight: 100;
        }
        button{
            background-color: transparent;
            a{
                color: #2797fe;
            }
        }
    }
    
}

