.card_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    h4{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
    span{
        font-size: 16px;
        font-weight: 300;
    }
    button{
        margin-top: 10px;
        background-color: transparent;
        border-radius: 10px;
        border: 0.5px solid grey;
        color: black;
        &:hover{
            background-color: rgba(0, 0, 0, 0.215);
        }
    }
}
.info_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    span{
        margin-bottom: 10px;
    }
}
.price{
    font-size: 20px;
    margin-top: 10px;
    color: $color-resaltado;
}

.no-results{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-left: 50px;
    font-family: 'SFPro';
    font-weight: 100;
}