.products_container{
    background-color: white;
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px auto;
    grid-template-areas: "filters category"
                         "filters products"
}

.filters{
    grid-area: filters;
    background-color: F5F5F7;
    border-right: 0.5px solid black;
    .modelos{
        display: flex;
        flex-direction: column;
    }
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: category;
    margin-left: 50px;
    max-height: 100px;
    div{
        flex-direction: column;
    }
    h1{
        font-size: 30px;
    }
}
.products{
    align-items: flex-start;
    width: 100%;
    height: 100%;
    grid-area: products;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.modelos{
    li{
        display: flex;
        list-style: none;
        color: $color-resaltado;
        margin-bottom: 5px;
    }
}
