button{
    width: 150px;
    border-radius: 10px;
    transition: 1s;
    background-color: #333;
    color: $color-texto;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    a{
        text-decoration: none;
        color: $color-texto;
    }
    &:hover{
        background-color: $color-texto;
        a{
            color: #000;
        }
    }
}
.btn{
    width: 40px;
    background-color: #ffffff65;
}

.navbar-toggler{
    width: 60px;
    transition: 1s;
    border: 1px solid #ffffff5e;
    &:hover{
        background-color: #333;
        border: 1px solid $color-texto;
    }
}

.filtro-btn{
    background-color: transparent;
    color: black;
    width: auto;
    text-align: left;
    transition: 0.2s;
    &:hover{
        color: $color-resaltado;
    }
}
.btn-grad {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
} 
#checkout_btn{
    background-color: $color-resaltado;
    align-self: flex-end;
    margin: 10px;
    a{
        color: #fff;
    }    
    &:hover{
        color: #fff;
    }
}
#vaciar_carrito{
    color: black;
    border: 1px solid gray;
}