.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    margin:15px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 $color-resaltado, 24px 0 #FFF;
    }
    66% {
      background: $color-resaltado;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 $color-resaltado;
    }
  }